/* 背景 */
body::before {
  content: '';
  position: fixed; /* 固定定位覆盖整个视口 */

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #000000; /* 默认背景颜色为黑色 */
  background-image: url('/src/backgrounds/4.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;

  filter: blur(5px);
  z-index: -1; /* 将背景层置于底层 */
}